<h1>История советских ЭВМ</h1>
<br/>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;В этом лектронном учебнике мы представим вам этапы развития компьютеростроения в СССР в лице основных представителей. Сегодня на политической карте мира нет такой страны. Союз из 15 республик просуществовал 70 лет и в начале 90-х развалился на отдельные государства. За это время в мировых кругах не раз звучало выражение «сделано в СССР». Так какое же компьютерное наследие оставили нам советские изобретатели?</p>
<br/>
<div align=center>
	<img width=800 src="/lebedev.jpg"/>
	<br/>
	Сергей Алексеевич Лебедев — основоположник вычислительной техники в СССР
</div>