<% content_for :title do %>Об авторе<% end %>
<h3>Об авторе</h3>
<p>
	Выполнил: студент группы 10ВА3<br />
	Масленииков Андрей Юрьевич
	
</p>
<p>
Приложение создано с помощью
<%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
из <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
</p>
