<h1>Большая Счётная Вычислительная Машина (БЭСМ)</h1>

<br/>

&nbsp;&nbsp;&nbsp;&nbsp;БЭСМ (сокращение от Большая (или Быстродействующая) электронно-счётная машина) — серия советских электронных вычислительных машин общего назначения, предназначенных для решения широкого круга задач. Разработка Института точной механики и вычислительной техники АН СССР (ИТМ и ВТ).
<br/>
<img src="/besm1953.jpg"/>&nbsp;<img src="/besm.jpg"/>
<br/>

<h3>БЭСМ-1</h3>

<p>
&nbsp;&nbsp;&nbsp;&nbsp;Разработка завершена осенью 1952 года. Известна также как БЭСМ Академии Наук (БЭСМ АН). Построена на электронных лампах (5000 ламп). Опытная эксплуатация — с 1952 года. Быстродействие — 8—10 тыс. оп./с. Система представления чисел в машине — двоичная с учётом порядков, то есть в форме чисел с плавающей запятой. Количество разрядов для кода числа — 39. Цифровая часть числа — 32 разряда; знак числа — 1; порядок числа — 5 разрядов; знак порядка — 1 разряд. Диапазон чисел, с которыми оперирует машина, примерно от 10−9 до 10+9. Точность вычислений примерно 9 десятичных знаков.
</p>

<p>
&nbsp;&nbsp;&nbsp;&nbsp;Система команд — трёхадресная. Количество разрядов для кода команды — 39. Код операции — 6 разрядов; коды адресов — 3 указателя по 11 разрядов каждый, что позволяло адресовать 2048 ячеек памяти для операндов и результата. Регистры общего назначения отсутствуют.
</p>

<p>
&nbsp;&nbsp;&nbsp;&nbsp;Машина имела параллельное 39-разрядное <a href="/pages/dictionary#alu">АЛУ</a> с плавающей запятой. В систему команд машины входят 9 арифметических операций, 8 операций передач кодов, 6 логических операций, 9 операций управления.
</p>

<p>
&nbsp;&nbsp;&nbsp;&nbsp;Машина имеет общее поле памяти для команд и данных (Архитектура фон Неймана) — 2047 39-разрядных ячеек (ячейка с номером 0 всегда возвращает машинный нуль). Специальный бит в поле кода команд позволял отключить нормализацию с плавающей точкой и выполнять адресную арифметику. При написании программ для БЭСМ-1 широко применялась <a href="/pages/dictionary#smk">техника самомодифицирующегося кода</a>, когда напрямую модифицировалась адресные части команд для доступа к массивам.
</p>

<p>
&nbsp;&nbsp;&nbsp;&nbsp;Внешняя память — на магнитных барабанах (2 барабана по 5120 слов) и магнитных лентах (4 по 30 000 слов). Скорость обмена с барабаном — 800 чисел в секунду. Скорость записи-считывания с ленты после позиционирования — 400 чисел в секунду. Первоначальный ввод программы и исходных данных осуществляется с перфоленты со скоростью 20 кодов в секунду. Печать результата осуществляется на бумагу со скоростью до 20 чисел в секунду.
</p>

<p>
&nbsp;&nbsp;&nbsp;&nbsp;Потребляемая мощность — около 35 КВт.
</p>

<p>
&nbsp;&nbsp;&nbsp;&nbsp;Была создана только одна машина этого типа. Главный конструктор — Сергей Алексеевич Лебедев.
</p>

<p>
&nbsp;&nbsp;&nbsp;&nbsp;В 1953 году на БЭСМ была опробована <a href="/pages/dictionary#ram">оперативная память</a> на ртутных трубках (1024 слова), в начале 1955 года — на потенциалоскопах (1024 слова), в 1957 году — на ферритовых сердечниках (2047 слов).
</p>

<p>
&nbsp;&nbsp;&nbsp;&nbsp;На 1953 год (октябрь — международная конференция в Дармштадте) — оказалась самой быстродействующей в Европе, но уступала по быстродействию и объёму памяти коммерческой американской IBM 701, поставки которой начались в декабре 1952 г.
</p>