<h1>Словарь</h1>
<br />
<ul>
<li name="ss">Система счисле́ния — символический метод записи чисел, представление чисел с помощью письменных знаков.</li>
<br />
<li name="alu">Арифме́тико-логи́ческое устро́йство (АЛУ) (англ. arithmetic and logic unit, ALU) — блок процессора, который под управлением устройства управления (УУ) служит для выполнения арифметических и логических преобразований (начиная от элементарных) над данными, называемыми в этом случае операндами. Разрядность операндов обычно называют размером машинного слова.</li>
<br />
<li name="smk">Самомодифицирующийся код (СМК) — программный приём, при котором приложение создаёт или изменяет часть своего программного кода во время выполнения. Такой код обычно применяют в программах, написанных под процессор с фон-неймановской организацией памяти.</li>
<br />
<li name="flops">FLOPS (также flops, flop/s, флопс или флоп/с) (акроним от англ. FLoating-point Operations Per Second, произносится как флопс) — внесистемная единица, используемая для измерения производительности компьютеров, показывающая, сколько операций с плавающей запятой в секунду выполняет данная вычислительная система. Существуют разногласия насчёт того, допустимо ли использовать слово FLOP (или flop или флоп, от англ. FLoating point OPeration), и что оно может означать. Некоторые считают, что FLOP (флоп) и FLOPS (флопс) — синонимы, другие же полагают, что FLOP — это просто количество операций с плавающей запятой (например, требуемое для исполнения данной программы).</li>
<br />
<li name="ram">Операти́вная па́мять (англ. Random Access Memory, RAM, память с произвольным доступом; ОЗУ; комп. жарг. память, оперативка) — энергозависимая часть системы компьютерной памяти, в которой во время работы компьютера хранится выполняемый машинный код (программы), а также входные, выходные и промежуточные данные, обрабатываемые процессором.</li>
<br />
<li><a href="#register"></a>Регистр — устройство, используемое для хранения n-разрядных двоичных данных и выполнения преобразований над ними.

Регистр представляет собой упорядоченный набор триггеров, обычно D-, число n которых соответствует числу разрядов в слове. С каждым регистром обычно связано комбинационное цифровое устройство, с помощью которого обеспечивается выполнение некоторых операций над словами.</li>
<br />
<li name="perforator">Прфоратор - устройство для регистрации информации посредством пробивки отверстий (перфорации) в носителях информации, обычно в перфорационных картах или перфорационных лентах. Перфораторы нашли широкое применение с развитием телеграфии и с конца 19 столетия вошли в комплект счетно-перфорационных машин, а с середины 20 столетия - в качестве внешних устройств в состав ЭЦВМ. </li>
<br />
<li name="trl">Трои́чная ло́гика (трёхзначная логика) — один из видов многозначной логики, предложенный Яном Лукасевичем в 1920 году. Трёхзначная логика — исторически первая многозначная логика. Она является простейшим расширением двузначной логики. </li>
</ul>