<h1>Диалоговый вычислительный комплекс (ДВК)</h1>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;Диалоговый вычислительный комплекс (ДВК) — семейство советских ЭВМ середины 80-х — начала 90-х годов XX века.
<br />
&nbsp;&nbsp;&nbsp;&nbsp;ДВК разработан в НИИ точной технологии (НИИТТ) НПО «Научный Центр», г. Зеленоград. Первая модель ДВК-1 разработана в 1981 году, выпуск с 1982 года. Хотя понятие «персональный компьютер» не было распространено в СССР, данное семейство ЭВМ проектировалось именно как персональные.
<br />
&nbsp;&nbsp;&nbsp;&nbsp;Архитектурно ДВК повторяют (ДВК-1 — частично) мини-ЭВМ фирмы DEC PDC-11 и PDP-11, но на более современной элементной базе, в частности с использованием однокристальных микропроцессоров.
<br />
&nbsp;&nbsp;&nbsp;&nbsp;Все компьютеры семейства ДВК были программно и аппаратно (по шине МПИ) совместимы с серией управляющих Микро-ЭВМ Электроника-60, МС 1212 и СМ-1425. Выпускались на зеленоградском заводе «Квант» Министерства электронной промышленности СССР. В 1990 году выпуск всех моделей ДВК составил 200 тыс. машин.
</p>
<div align=center>
	<img width=400 src="/Basic_interpreter_on_the_DVK_computer.JPG"/>
	<br/>
	Бейсик, зашитый в ПЗУ платы Н.МС11100.1 ДВК-1
</div>

<h3>ДВК-1</h3>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;ДВК «Электроника Н МС 01100.1» или «Электроника МС 0501» различных модификаций выпускались на основе микро-ЭВМ МС 1201.
	<ul>
		<li>Процессор: Микро-ЭВМ Н МС11100.1 или МС 1201 (МС 1201.01) на основе микропроцессора К1801ВМ1</li>
		<li>Объём ОЗУ — 48 килобайт</li>
		<li>Встроенный BASIC или Фокал в пользовательском ПЗУ объёмом 8 килобайт</li>
		<li>Внешние накопители: нет</li>
		<li>Алфавитно-цифровой терминал: 15ИЭ-00-013 или 15ИЭ-00-013-01, токовая петля 20mA (ИРПС) 9600 бод.</li>
		<li>Термопринтер 15ВВП80-002, подключаемый по интерфейсу ИРПР.
		<li>Быстродействие — около 330 тыс. операций/c.</li>
		<li>ДВК-1 не поддерживает команды арифметики с плавающей запятой в отличие от Электроники 60.</li>
	</ul>
</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;В исполнениях ДВК «Электроника Н МС 01100.1» и ДВК «Н МС 01100.1-01» микроЭВМ МС 1201 (MC 1201.01) устанавливалась в корпусе дисплея 15ИЭ-00-013-01 и подключение по токовой петле 20 мА осуществлялось внутри корпуса дисплея. Эти исполнения комплектовались ПЗУ с интерпретатором Бэйсик.
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;Во всех остальных исполнениях ДВК-1 плата микро-ЭВМ устанавливается в отдельном блоке с собственной корзиной МПИ и блоком питания (в документации именуется «блок сопряжения»). В этот же блок сопряжения могут устанавливаться контроллеры КНГМД, КГД и КТлК.
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;В исполнении ДВК «Электроника Н МС 01100.1-02» в комплект входят: алфавитно-цифровой терминал 15ИЭ-00-013, блок сопряжения с микро-ЭВМ МС 1201.01 и контроллером КНГМД (MX:), сдвоенный накопитель на гибком магнитном диске «Электроника НГМД 6022», печатающее устройство УВВПЧ, 15ВВП80-002 или DZM-180. Пользовательское ПЗУ не установлено.
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;Исполнение ДВК «Электроника Н МС 01100.1-03» предназначено для работы в составе КУВТ-ДВК в качестве машины ученика. В состав входят: терминал 15ИЭ-00-013, блок сопряжения с микро-ЭВМ МС 1201.01 и блоком КГД. В пользовательском ПЗУ — язык Фокал.
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;Исполнение ДВК «Электроника Н МС 01100.1-04» аналогично исполнению «-01» но микро-ЭВМ установлена в блоке сопряжения. В состав входят: терминал 15ИЭ-00-013, блок сопряжения с микро-ЭВМ МС 1201.01. В гнездо пользовательского ПЗУ установлена прошивка с языком Бэйсик.
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;Исполнение ДВК «Электроника Н МС 01100.1-05» отличается от исполнения «-02» тем, что вместо накопителя «Электроника НГМД 6022» использован накопитель на 8" дискетах «Электроника ГМД-7012» (15ВВМД-1000-003) и отсутствует плата КНГМД (MX:) так как ГМД-7012 подключается непосредственно к плате микро-ЭВМ через разъем на корпусе сопряжения.
</p>

<h3>ДВК-2</h3>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;Представляет собой ДВК-1 с подключенным дисководом ГМД-7012 и отключенным пользовательским ПЗУ.
<br/>
<ul>
	<li>Объём ОЗУ — 56 килобайт</li>
	<li>накопители: сдвоенный накопитель на 8-ми дюймовых дисках ГМД-7012, драйвер DX:</li>
	<li>характеристики совпадают с ДВК-1</li>
</ul>
<div align=center>
	<img width=300 src="/Soviet_computer_DVK-2.JPG"/>
	<br/>
	Классический вариант ДВК-2
</div>
</p>
<h3>ДВК-2М</h3>
<p>
<ul>
	<li>Процессор: МикроЭВМ MC 1201.01 на основе процессора КМ1801ВМ1 или MC 1201.02 на основе процессора КМ1801ВМ2</li>
	<li>КНГМД</li>
	<li>Внешние накопители: два 5-дюймовых накопителя на гибких магнитных дисках НГМД 6022 (40 дорожек) MX:</li>
	<li>Алфавитно-цифровой терминал: 15ИЭ-00-013</li>
</ul>

&nbsp;&nbsp;&nbsp;&nbsp;В этой модели ДВК было введено разделение «корзин» дисплея и собственно ЭВМ. В корзине дисплея осталось свободное место, а платы микроЭВМ и КНГМД (контроллера накопителей на гибких магнитных дисках) были помещены в отдельную корзину, в которой оставалось ещё 2 посадочных места под полные платы. Первые экземпляры ДВК-2М имели всего 48 килобайт ОЗУ. 8 килобайт адресного пространства были заняты микросхемой пользовательского ПЗУ с начальным загрузчиком с MX. Позднее было заменено системное ПЗУ на микроЭВМ. В него был включен начальный загрузчик с MX, в результате чего надобность в пользовательском ПЗУ отпала и объём ОЗУ вернулся к 56 килобайтам. Контроллер КНГМД поддерживал подключение до 4 накопителей.
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;Возможность подключения ГМД-7012 осталась, но требовала пайки специального кабеля. Пользователи собирали подобные комплексы для переноса информации с 8-дюймовых дискет на 5-дюймовые.
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;В 1987 г. ДВК-2М (в составе гидроакустической приставки «Рица») принимали участие в поисковой противолодочной операции «Атрина» Северного флота СССР в Саргасовом море и Атлантическом океане. Цена ДВК-2М составляла 15600 рублей
<br/>
<div align=center>
	<img width=300 src="/DVK-2M.JPG"/>
	<br/>
	Поздний вариант ДВК-2М (МС0505)
</div>
</p>

<h3>ДВК-3</h3>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;ДВК-3 (или Электроника 0507.02 или 0507.03) был собран в корпусе типа «моноблок», который совмещал в себе монитор МС 6105, источник питания У12.087.314 мощностью 250Вт, дисководы и «корзину» с системной шиной. Отдельно подключалась клавиатура МС 7004. ДВК-3 имел в своем составе плату микро-ЭВМ «Электроника МС 1201.02» на основе процессора КМ1801ВМ2 (в керамическом корпусе), плату КНГМД, плату КСМ и плату КГД.
</p>

<h3>ДВК-3M</h3>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;В дальнейшем, появилась модификация ДВК-3М («Электроника МС0502» исполнений −05, −06 и −07) в составе платы микро-ЭВМ «Электроника МС 1201.03» на основе КМ1801ВМ3. С этим процессором использовался объём памяти 248 КБ.
<br/>
<div align=center>
	<img width=300 src="/DVK3WIKI.JPG"/>
	<br/>
	ДВК-3М
</div>
</p>

<h3>ДВК-4</h3>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;«Электроника МС0502» исполнения −09. В состав входит «Электроника МС 1201-03», контроллер накопителя на жестком магнитном диске КНЖМД с ёмкостью 5 или 10 МБ. Контроллер цветного графического дисплея КЦГД и цветной монитор «MC 6106».
<br/>
<div align=center>
	<img width=300 src="/DVK4WIKI.JPG"/>
	<br/>
	ДВК-4
</div>
</p>