<h1>Серия ЭВМ "Эльбрус"</h1>

<h3>Эльбрус 1</h3>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;Первый компьютер с таким названием был создан еще в 1978 году в ИТМиВТ им. С.А. Лебедева АН СССР под руководством Б.С. Бурцева и при участии Бориса Бабаяна, который был одним из заместителей главного конструктора. Основными заказчиками компьютеров "Эльбрус" были, конечно, военные.
<div align=center>
	<img width=400 src="/elbrus1.jpg"/>
	<br/>
	Эльбрус-1
</div>
<br />
&nbsp;&nbsp;&nbsp;&nbsp;Компьютер имел модульную конструкцию и мог включать от одного до десяти процессоров на базе схем средней интеграции. Быстродействие компьютера достигало 15 млн. операций в секунду. Объем оперативной памяти, общей для всех процессоров, составлял до 220 машинных слов или, если использовать принятые сейчас меры, 64 Мб.
<br />
&nbsp;&nbsp;&nbsp;&nbsp;Однако наиболее интересной в "Эльбрусе-1" была архитектура. Советский суперкомпьютер стал первой в мире коммерческой ЭВМ, использующей суперскалярную архитектуру. Массовое ее использование за рубежом началось лишь в 1990-ых годах с появлением на сцене процессоров Intel Pentium.
<br />
&nbsp;&nbsp;&nbsp;&nbsp;Как выяснилось позднее, подобные разработки существовали и до "Эльбруса" в корпорации IBM, однако работы эти были закрытыми и так и не привели к созданию коммерческого продукта. Правда, в ряде публикаций появлялись сведения, что при проектировании "Эльбруса" в основу были положены разработки зарубежных фирм. Однако участники создания советского суперкомпьютера с такой позицией не согласны. В одном из интервью В.С. Бурцев, главный конструктор "Эльбруса", отметил, что при создании компьютера конструкторы старались использовать передовой опыт как отечественных, так и зарубежных разработчиков. И на архитектуру "Эльбрусов" оказали влияние не только компьютеры фирмы Burroughs, но и разработки таких фирм, как Hewlett-Packard, а также опыт создателей БЭСМ-6.
&nbsp;&nbsp;&nbsp;&nbsp;Немало было и оригинальных разработок, среди которых и уже упомянутая суперскалярная архитектура. Помимо этого, для организации передачи потоков данных между оперативной памятью и периферийными устройствами в "Эльбрусе" могли использоваться специальные процессоры ввода-вывода. Таких процессоров в системе могло быть до четырех штук, они имели свою собственную память и работали параллельно с центральным процессором.
<br />
&nbsp;&nbsp;&nbsp;&nbsp;В состав вычислительных комплексов "Эльбрус-1" также могли входить специализированные процессоры для трансляции команд ЭВМ БЭСМ-6, быстрого преобразования Фурье и некоторые другие аппаратные системы для решения узкоспециализированных задач.
</p>

<h3>Эльбрус 2</h3>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;Эти ЭВМ были запущены в серийное производство в 1985 году. По своей архитектуре они незначительно отличались от "Эльбрус-1", однако использовали новую элементную базу. Это позволило поднять максимальную производительность до 125 млн. операций в секунду. Объем оперативной памяти вырос до 16 млн. 72-разрядных слов или 144 Мб. Максимальная пропускная способность каналов ввода-вывода составляла 120 Мбайт/с.
<div align=center>
	<img width=400 src="/elbrus2.jpg"/>
	<br/>
	Эльбрус-2
</div>
<br />
&nbsp;&nbsp;&nbsp;&nbsp;Компьютеры "Эльбрус-2" активно использовались в Советском Союзе в областях, требующих большого объема вычислений, прежде всего, в оборонной отрасли. Вычислительные комплексы "Эльбрус-2" эксплуатировались в Центре управления космическими полетами, в ядерных исследовательских центрах в Арзамасе-16 и Челябинске-70. Наконец, именно комплексы "Эльбрус-2" с 1991 года использовались в системе противоракетной обороны А-135 и на других военных объектах.
<br />
&nbsp;&nbsp;&nbsp;&nbsp;Помимо двух описанных выше компьютеров, выпускался также вычислительный комплекс общего назначения "Эльбрус 1-КБ". Его разработка была завершена в 1988 году, и в период до 1992 года было выпущено 60 машин. Эти ЭВМ были основаны на технологиях "Эльбруса-2" и использовались для замены устаревших машин серии БЭСМ-6. Между БЭСМ-6 и "Эльбрус 1-КБ" имелась полная обратная программная совместимость, дополненная новыми режимами работы с увеличенной разрядностью адресов и чисел.
<br />
&nbsp;&nbsp;&nbsp;&nbsp;Разработка "Эльбрусов" была высоко оценена советским руководством. За создание "Эльбруса-1" Борис Бабаян получил Орден Октябрьской революции, его коллега В.В. Бардиж награжден Орденом Ленина, ордена и медали получили и другие участники работ над этой ЭВМ. За создание "Эльбруса-2" Бабаян и ряд его коллег получили Ленинскую премию, а генеральный конструктор В.С. Бурцев и ряд других участников работ над ЭВМ - Государственную премию.
</p>

<h3>Эльбрус-3</h3>
&nbsp;&nbsp;&nbsp;&nbsp;После создания "Эльбрус-2" в ИТМиВТ приступили к разработке ЭВМ на базе принципиально новой процессорной архитектуры. Проект, получивший название "Эльбрус-3", также намного опередил аналогичные западные разработки. В нем впервые был использован подход, который Бабаян называет "постсуперскалярным". Именно такую архитектуру имеют процессоры Intel Itanium и чипы фирмы Transmeta. При этом, если советские специалисты начали разработку данной технологии в 1986 году, то Intel, HP и Transmeta начали развивать это направление только в середине 1990-ых годов.
<br />
&nbsp;&nbsp;&nbsp;&nbsp;Увы, "Эльбрус-3" так и не был запущен в серийное производство. Единственный образец этой ЭВМ все же был построен в 1994 году, но оказался никому ненужным. Логическим продолжением работ над "Эльбрусом-3" стало создание процессора "Эльбрус-2000" или E2K. У компании даже были планы по запуску его в производство одновременно или даже раньше, чем Itanium. Однако из-за отсутствия необходимых инвестиций, все эти планы так и остались на бумаге. Теперь, скорее всего, реализацией идей Бабаяна и его сотрудников займется Intel.
<h3>Примечание</h3>
На данный момент история Эльбрусов ещё не окончена, с текущими разработками можно ознакомиться на сайте <a src="http://www.elbrus.ru/"> Эльбрус МЦСТ</a>.
<br /> 
