<h1>ЕС-1035</h1>

<p>
&nbsp;&nbsp;&nbsp;&nbsp;ЭВМ ЕС-1035 — стационарная ЭВМ, входящая во вторую очередь Единой системы ЭВМ стран социалистического содружества (ЕС ЭВМ-2). Применялась для решения широкого круга научно-технических, экономических, информационно-логических задач как в автономном режиме, так и в системах обработки информации, включая системы, функционирующие в реальном масштабе времени, режиме разделения времени, а также диалоговые системы. Описание машины
</p>

<p>
&nbsp;&nbsp;&nbsp;&nbsp;Главный конструктор: Смирнов  Г. Д.; заместители главного конструктора: Пыхтин  В. Я., Чалайдюк  М. Ф; основные разработчики: Шкляр  В. Б., Запольский  А. П., Волков  Л. И.
Организация–разработчик: НИИЭВМ, Минск. Ведомство: Министерство радиопромышленности СССР.
Завод-изготовитель: Минское производственное объединение вычислительной техники (МПО ВТ) Министерства радиопромышленности СССР.
Год окончания разработки: 1977 г.
Год начала выпуска: 1977 г.
Год прекращения выпуска: 1986 г.
Число выпущенных машин: 2138.
</p>

<h3>Технико-эксплуатационные характеристики</h3>
<p>
	<ul>
		<li>Производительность — 160 тыс. операций в секунду по смеси Гибсон-3.</li>
		<li>Пропускная способность каналов — 1200 Кб/с.</li>
		<li>Занимаемая основным комплектом площадь — 110 кв. метров.</li>
		<li>Рабочая температура окружающего воздуха — 5-40°С.</li>
		<li>Мощность, потребляемая основным комплектом — 40 кВА.</li>
	</ul>
</p>

<h3>Элементная база</h3>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;Интегральные микросхемы ECL типа серии ИС-500 (микросхемы малой и средней степени интеграции). Конструкция.<br />
&nbsp;&nbsp;&nbsp;&nbsp;Три стандартных шкафа ЕС ЭВМ, шкаф процессора, шкаф питания, шкаф ЗУ, поворотные рамы с двумя панелями каждая.<br />
&nbsp;&nbsp;&nbsp;&nbsp;Размеры шкафа: 1200х750х1600 мм. Типовые элементы замены (ТЭЗ) размером 140х150 мм (стандартные ТЭЗы ЕС ЭВМ). Воздушное охлаждение с помощью стандартных вентиляторов ЕС ЭВМ. Питание от набора стандартных блоков питания ЕС ЭВМ. <br />
&nbsp;&nbsp;&nbsp;&nbsp;Впервые для производства ЭВМ использована технология изготовления многослойных печатных плат (МПП) методом металлизации сквозных отверстий. Был организован цех по производству МПП мощностью 100 тыс. МПП в год, затем был построен завод по производству МПП для отрасли. Завод строился по контракту с французской фирмой "СИЧ". Оборудование лучших зарубежных фирм США, Италии, ФРГ, Франции, СССР позволило создать один из лучших заводов Европы по производству МПП. Проектная мощность завода — 1 млн. восьмислойных МПП размером 140х150 мм и 100 тыс. панелей размером 500х550 мм. в год. Механизированная подготовка и установка элементов на плату ТЭЗа. Групповая пайка ТЭЗов волной. Полуавтоматический монтаж панелей и автоматизированный контроль монтажа панелей рам, шкафов. Создано стендовое оборудование, позволяющее механизировать операции монтажа и контроля. Дальнейшее развитие получили механизация и автоматизация производства ТЭЗ. Был изготовлен ряд стендов и контрольно-измерительных приборов, в первую очередь для ТЭЗ памяти. Были усовершенствованы формообразующие методы механической обработки.
<h3>Программное обеспечение</h3>
&nbsp;&nbsp;&nbsp;&nbsp;С машиной поставлялась дисковая операционная система (ДОС-2), включающая в себя кроме управляющих программ, поддерживающих одновременное прохождение трех рабочих программ, трансляторы с языков Ассемблер, РПГ, Фортран-4, Кобол, ПЛ-1, а также системные обслуживающие программы и комплект программ технического обслуживания. Обеспечивалась также работа с операционной системой ОС 6.1. Поставлялись программные средства для совместной работы с ЭВМ «Минск-32».
</p>

<div align=center>
	<img width=400 src="/es1035.jpg"/>
	<br/>
	Сами ЭВМ располагались на вычислительном центре. Для каждой из них было отведено целое крыло в цокольном этаже, обслуживанием каждой машины занималось вычислительное отделение ВЦ
</div>

<div align=center>
	<img width=400 src="/es1035-workplace.jpg"/>
	<br/>
	Учебные занятия проходили в дисплейных классах, в которые были выведены дисплеи с клавиатурами
</div>