<h1>Литература</h1>
<br />
<ul>
	<li>Википедия - <a src="https://ru.wikipedia.org/wiki/%D1%EF%E8%F1%EE%EA_%F1%EE%E2%E5%F2%F1%EA%E8%F5_%EA%EE%EC%EF%FC%FE%F2%E5%F0%ED%FB%F5_%F1%E8%F1%F2%E5%EC">Список советских компьютерных систем</a></li>
	<li>Сетунь - <a src="http://old.computerra.ru/vision/652817/">Tertium datur: другие компьютеры</a> </li>
	<li>ЭВМ ЕС-1035 <a src="http://housea.ru/index.php/computer/50198">Электронная вычислительная машина ЭВМ ЕС-1035</a></li>
	<li>PROдвинутый блог <a src="http://sernep.livejournal.com/12570.html">Ретро ЭВМ. ЕС 1035, ЕС 1060, ЕС 1045</a></li>
	<li>Журнал "Компьютерра" <a src="http://old.computerra.ru/hitech/34475/">"Эльбрус". История легенды</a></li>
</ul>
