<h1>Малая Электронная Счётная Машина(МЭСМ)</h1>

<br/>
<img align="center" src="/mesm1948.jpg"/>
<br/>
<br/>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;Официальной «датой рождения» советской вычислительной техники следует считать, видимо, конец 1948 года. Именно тогда в секретной лаборатории в местечке Феофания под Киевом под руководством <a href="https://ru.wikipedia.org/wiki/%D0%9B%D0%B5%D0%B1%D0%B5%D0%B4%D0%B5%D0%B2,_%D0%A1%D0%B5%D1%80%D0%B3%D0%B5%D0%B9_%D0%90%D0%BB%D0%B5%D0%BA%D1%81%D0%B5%D0%B5%D0%B2%D0%B8%D1%87"> Сергея Александровича Лебедева</a> (в то время — директора Института электротехники АН Украины и по совместительству руководителя лаборатории Института точной механики и вычислительной техники АН СССР) начались работы по созданию Малой Электронной Счетной Машины (МЭСМ). Лебедевым были выдвинуты, обоснованы и реализованы (независимо от Джона фон Неймана) принципы ЭВМ с хранимой в памяти программой.
</p>
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;В своей первой машине Лебедев реализовал основополагающие принципы построения компьютеров, такие как:
<ul>
	<li>наличие арифметических устройств, памяти, устройств ввода/вывода и управления;</li>
	<li>кодирование и хранение программы в памяти, подобно числам;</li>
	<li>двоичная система счисления для кодирования чисел и команд;</li>
	<li>автоматическое выполнение вычислений на основе хранимой программы;</li>
	<li>наличие как арифметических, так и логических операций;</li>
	<li>иерархический принцип построения памяти;</li>
	<li>использование численных методов для реализации вычислений.</li>
</ul>
<p>
Проектирование, монтаж и отладка МЭСМ были выполнены в рекордно короткие сроки (примерно 2 года) и проведены силами всего 17 человек (12 научных сотрудников и 5 техников). Пробный пуск машины МЭСМ состоялся 6 ноября 1950 года, а регулярная эксплуатация — 25 декабря 1951 года.
</p>
