<h1>МИР</h1>
<br />
<p>
&nbsp;&nbsp;&nbsp;&nbsp;«МИР» (сокращение от «Машина для Инженерных Расчётов») — серия электронных вычислительных машин, созданных Институтом кибернетики Академии наук Украины, под руководством академика В. М. Глушкова.
<br />
&nbsp;&nbsp;&nbsp;&nbsp;В 1968 году «за разработку новых принципов построения структур малых машин для инженерных расчётов и математического обеспечения к ним, внедрённых в ЭВМ серии „МИР“» Государственной премии СССР были удостоены В. М. Глушков, С. Б. Погребинский, В. Д. Лосев, А. А. Летичевский, Ю. В. Благовещенский, И. Н. Молчанов и А. А. Стогний.
</p>
<br />

<p>
&nbsp;&nbsp;&nbsp;&nbsp;«МИР» — серийная ЭВМ для инженерных расчётов, создана в 1965 году Институтом кибернетики Академии наук УССР, под руководством академика В. М. Глушкова. Одна из первых в мире персональных ЭВМ. Выпускалась серийно и предназначалась для использования в учебных заведениях, инженерных бюро, научных организациях. Имела ряд уникальных особенностей, таких как аппаратно реализованный машинный язык, близкий по возможностям к языкам программирования высокого уровня, развитое математическое обеспечение. Фактически относится к классу вычислительных машин, которые в последствии получили название рабочих станций.
<br />
&nbsp;&nbsp;&nbsp;&nbsp;В 1968 году машина МИР модернизирована и получила название МИР-1.
<br />
&nbsp;&nbsp;&nbsp;&nbsp;Система счисления десятичная (двоично-десятичная). Числа могли быть представлены как целые десятичные со знаком, с десятичным порядком и с плавающей запятой. Действия могут выполняться с числами произвольной разрядности и произвольной длины, ограниченного только объёмом памяти в 4096 символов. Время на выполнение операции сложения — 50 мкс. Среднее быстродействие — около 1—2 тыс. оп/с. В комплект машины входила электрическая печатная машинка Zoemtron для ввода и вывода информации со скоростью 7 знаков в секунду. Управление машиной было организовано на микропрограммном принципе. Микропрограммирование позволило сильно поднять семантический уровень машинного языка и довести его до высокоуровневого языка программирования. Фактически, микропрограммами выполнялось большинство арифметических действий, вычисление элементарных функций выполнялось перед трансляцией и интерпретацией входной программы. Микрокоманды машины МИР-1 — 120-разрядные и записывались на сменных микропрограммных матрицах. Это позволяло довольно сильно изменять характер использования машины, набор арифметических и логических операций, которые она может выполнять.
</p>
<br />
<div align=center>
	<img width=400 src="/Computer_MIR-1.jpg"/>
	<br/>
	МИР-1
</div>

<h4>Программное обеспечение</h4>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;А. А. Дородницыной и др. В МИР-2 и МИР-3 используется входной язык Аналитик, сохраняющий совместимость «снизу вверх».
<br />
&nbsp;&nbsp;&nbsp;&nbsp;Алфавит входного языка ЭВМ МИР-1 составляют заглавные русские и латинские буквы, знаки операций (+, -, х, /, интеграл, =, <, >, квадратный корень, сумма), знаки выделения целой и дробной части числа, цифры, показатель порядка числа, знаки препинания (скобки, точка с запятой, запятая и т. д.). При вводе информации в машину можно было пользоваться стандартными обозначениями элементарных функций (тригонометрических, обратных тригонометрических, гиперболических, логарифмических и пр.). Русские слова РАЗРЯДНОСТЬ, ВЫЧИСЛИТЬ, ЗАМЕНИТЬ, ЕСЛИ, ТО, ИНАЧЕ, ГРАФИК, МАССИВ, ЗАГОЛОВОК ТАБЛИЦЫ и др. использовались для описания вычислительного алгоритма и обозначения формы выходной информации — вывести результат в строку, в виде многопозиционной таблицы, графика и т. п. Десятичные числа вводились в машину в свободной форме, например, 374,3; 5x10-7; 3 и др. Разрядность, с которой будут выполняться вычисления, указывалась при формулировке задачи. Предполагалась возможность работы с целыми числами и массивами. Была возможность редактирования и отладки введённой и запущенной программы. Режим «ЗАМЕНЯТЬ» позволял одну разрядность вычислений заменять на другую, один выделенный оператор — другим, добавлять операторы в программу, заменять при некоторых условиях описание основной программы и т. п.
<br />
&nbsp;&nbsp;&nbsp;&nbsp;На языке АЛМИР-65 были разработаны алгоритмы для длинной арифметики.
</p>
<div align=center>
	<img width=600 src="/Computer_MIR-2.jpg"/>
	<br/>
	МИР-2
</div>

