<h1>История советских ЭВМ</h1>
</br>
<p>

&nbsp;&nbsp;&nbsp;&nbsp;Вопреки устоявшимся стереотипам, компьютерная отрасль в СССР смогла не только достичь мирового уровня, но и по некоторым показателям опередить в развитии западный аналог. При этом следует отметить, что становление советской вычислительной техники шло в послевоенные годы при отсутствии контактов с западными учеными. Это объясняется тем, что разработка электронно-вычислительных машин (ЭВМ) за рубежом велась в условиях секретности, так как предназначались они, в первую очередь, для военных целей. Конечно, некоторые материалы об американских и английских машинах у советских специалистов были, но в целом появление компьютеров в нашей стране стало возможным преимущественно благодаря отечественным ученым.
</p>

</br>
<p>
График начала выпуска или эксплуатации советских компьютеров:</br>
<img src= "/hrono.png"/>
</p>