<h1>Сетунь</h1>
<br/>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;«Се́тунь» — малая ЭВМ на основе <a href="/pages/dictionary#trl"> троичной логики</a>, разработанная в вычислительном центре Московского государственного университета в 1959 г. Единственная в своём роде ЭВМ, не имеющая аналогов в истории вычислительной техники.
<br />
&nbsp;&nbsp;&nbsp;&nbsp;Руководитель проекта — Н. П. Брусенцов, основные разработчики: Е. А. Жоголев, В. В. Веригин, С. П. Маслов, А. М. Тишулина. Разработка машины была предпринята по инициативе и осуществлялась при активном участии советского математика С. Л. Соболева.
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;Казанским заводом математических машин было произведено 46 компьютеров Сетунь, 30 из них использовались в университетах СССР.
</p>

<div align=center text-align="center">
	<img src="/setun.jpg"/>
	<br/>
	Первая опытная ЭВМ «Сетунь»
</div>

<br />

<h4>Появление ЭВМ "Сетунь"</h4>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;Рассказывать историю разработки компьютера "Сетунь" легко и сложно одновременно. Легко, потому что у неё, как у большинства историй появления новых технологий, есть главный герой. Человек, который своим упорством и трудолюбием делает эти технологии возможными. Генератор идей, погрузившийся в проблему с головой.
<br />
&nbsp;&nbsp;&nbsp;&nbsp;В истории ЭВМ "Сетунь" главный герой - это Николай Петрович Брусенцов, главный конструктор троичного компьютера.
<br />
</p>

<div align=center>
	<img width=400 src="/brusentsov.jpg"/>
	<br/>
	Николай Петрович Брусенцов
</div>
<br/>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;И именно это делает рассказ о появлении "Сетуни" сложным, поскольку промежуток от первоначального замысла до его воплощения в "железе" наполнен множеством разных людей и событий.
<br />
&nbsp;&nbsp;&nbsp;&nbsp;Началась история "Сетуни" в 1952 году, в специальном конструкторском бюро Московского государственного университета, куда по распределению попал выпускник МЭИ Николай Брусенцов. В теории бюро должно было совершенствовать техническое оснащение учебного процесса, на практике же оно зачастую решало совершенно другие задачи, выполняя заказы для сторонних НИИ и производств. Молодого инженера Брусенцова такое положение дел совершенно не радовало, поэтому он с энтузиазмом принял предложение заведующего кафедрой вычислительной математики механико-математического факультета МГУ академика Соболева участвовать в получении, установке и настройке вычислительной машины "М-2", разрабатываемой лабораторией электросистем его альма-матер под руководством Исаака Семёновича Брука. Сергей Львович Соболев прекрасно понимал перспективы применения цифровых ЭВМ в учебной и научной деятельности МГУ и изо всех сил способствовал появлению в университете собственного вычислительного центра.
<br />
&nbsp;&nbsp;&nbsp;&nbsp;Однокурсники Брусенцова, работавшие в лаборатории Брука, на всю жизнь "заразили" Николая Петровича цифровыми ЭВМ.
<br />
&nbsp;&nbsp;&nbsp;&nbsp;История, однако, по-своему распорядилась судьбой "М-2". Машина так и не попала в стены МГУ, несмотря на то что довольно активно использовалась его учёными. Всё потому, что в баталиях научных школ, зарождающейся тогда области вычислительной техники, академик Соболев поддержал направление высокопроизводительных компьютеров Сергея Алексеевича Лебедева, а не малых ЭВМ Брука.
<br />
&nbsp;&nbsp;&nbsp;&nbsp;Именно благодаря этому конфликту интересов Соболев принял решение о разработке в МГУ собственной малой ЭВМ, способной решать насущные вузовские проблемы.
<br />
&nbsp;&nbsp;&nbsp;&nbsp;Увлечённость Николая Брусенцова компьютерами помогла ему попасть в отдел электроники вычислительного центра МГУ, перед которым и была поставлена задача разработать новую ЭВМ. В поисках элементной базы, наиболее приемлемой по соотношению надёжности, производительности и цены, инженера Брусенцова откомандировали в лабораторию электромоделирования Льва Израильевича Гутенмахера при Институте точной механики и вычислительной техники Академии наук СССР, где в 1954 году была разработана безламповая ЭВМ "ЛЭМ-1". В качестве схемотехнической единицы "ЛЭМ-1" инженеры лаборатории Гутенмахера использовали трёхфазные феррит-диодные логические элементы - уникальную комбинацию запоминающих ячеек на базе ферритовых колец и полупроводниковых диодов. В этих логических элементах ферритовые кольца играли роль сердечников трансформатора и служили для хранения единиц и нолей - базовых компонентов двоичной логики, а диоды использовались в качестве вентилей в цепях связи между ними.
<br />
&nbsp;&nbsp;&nbsp;&nbsp;Типовым элементом "ЛЭМ-1" был феррит-диодный регистр сдвига, состоящий из трёх ферритовых колец: входного (записывающего), канального (считывающего, тактового) и выходного (связывающего регистр с последующими элементами).
</p>
<br />
<div align=center>
	<img width=600 src="/ferrit-diode-register.jpg"/>
	<br/>
	Феррит-диодные логические элементы
</div>

<br />
<p>
&nbsp;&nbsp;&nbsp;&nbsp;Эта достаточно элегантная схема феррит-диодного регистра усложнялась за счёт включения в её состав дополнительных компенсирующих сердечников, устраняющих импульсы помехи в выходном ферритовом кольце. Вызванная неидеальностью петли гистерезиса ферритовых колец, эта помеха могла, при повышении рабочей температуры, достигнуть уровня сигнала.
<br />
&nbsp;&nbsp;&nbsp;&nbsp;Николаю Брусенцову было очевидно, что подобная схема далека от идеала. Поэтому он предложил её усовершенствовать, введя в цепь рабочих сердечников постоянное напряжение, которое запирало диод. Это решение исключало появление помехи, а значит, не требовало использования компенсирующих магнитных колец. Их теперь можно было применить в качестве второй пары рабочих сердечников, функционирующих встречно основной рабочей паре.
<br />
&nbsp;&nbsp;&nbsp;&nbsp;Вот так модернизация несовершенной элементной базы "ЛЭМ-1" способствовала появлению феррит-диодного логического элемента, который мог параллельно передавать две не совпадающие по времени последовательности сигналов - основу троичного кода.
</p>

<h4>Триты и трайты</h4>

<p>
&nbsp;&nbsp;&nbsp;&nbsp;Три вида сигналов, формируемые базовым элементом будущего троичного компьютера, его создатели назвали тритом. Если принять бит за меру количества информации, то информационная ёмкость трита будет равна примерно 1,5. А это значит, что при прочих равных условиях троичный компьютер обрабатывает в единицу времени больше информации, чем двоичный.
<br />
&nbsp;&nbsp;&nbsp;&nbsp;Минимальной адресуемой единицей памяти проектируемого троичного компьютера стал трайт, равный шести тритам и принимающий значения от -364 до 364. Работа с диапазоном отрицательных значений - особенность, отличающая трайт от двоичного байта, значения которого распространяются от 0 до 255.
<br />
&nbsp;&nbsp;&nbsp;&nbsp;Информационная ёмкость трайта такова, что с его помощью легко можно закодировать все заглавные и строчные символы русского и латинского алфавитов, математические и служебные символы.
<br />
&nbsp;&nbsp;&nbsp;&nbsp;Уникальная особенность троичного кода, применяемого в "Сетуни", связана с его симметричностью - распространением значений как в положительную, так и в отрицательную область. Благодаря симметричности в троичном компьютере отрицательные числа представлялись естественным путём - без хитроумных манипуляций с дополнительным кодом.
<br />
&nbsp;&nbsp;&nbsp;&nbsp;Уже одна эта особенность существенно упростила как систему команд "Сетуни", так и её архитектуру.
<br />
<div align=center>
	<img width=600 src="/setun-block-schema.jpg"/>
	<br/>
	Блок-схема компьютера "Сетунь"
</div>
</p>