<h1>Урал 1</h1>
<br/>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;«Урал-1» — малая (по существовавшей на момент создания классификации) ламповая программно-управляемая вычислительная машина из семейства ЭВМ «Урал», ориентированная на решение инженерно-технических и экономических задач. Применялась на производствах, в вычислительных центрах НИИ, конструкторских бюро. Первая серийно производимая ЭВМ на территории СССР (ранее неё была модель ЭВМ «Стрела», произведённая в количестве 7 шт). В сравнении с БЭСМ была существенно дешевле. По утверждению Энтони Саттона в его книге «The best enemy money can buy», ЭВМ серии «Урал» были единственными серийно производимыми компьютерами в СССР в 1960-х годах, что неверно, так как серийно выпускались ЭВМ серии БЭСМ, в том числе БЭСМ-6 (1968 г.) — одна из лучших в мире среди ЭВМ 2-го поколения, а также ЭВМ серий М-20 и «Минск».
</p>
<div align=center>
	<img width=700 src="/Ural-1_front_view.jpg"/>
</div>
<br/><br/>
<h4>История</h4>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;ЭВМ была разработана в 1954-55 годах, первый образец был создан тогда же (в 1955 году) на Московском заводе счётно-аналитических машин. Наладка осуществлялась СКБ-245. Частично налаженная машина была отправлена в Пензенский филиал (будущий Пензенский НИИ математических машин). Там же, с 1957 по 1961 год, осуществлялось серийное производство. Всего было произведено 183 машины. Одна из машин использовалась на космодроме «Байконур» для расчёта полёта ракет.

Главный конструктор — Башир Искандарович Рамеев, разработчики: В. С. Антонов, А. Г. Калмыков, А. И. Лазарев, В. И. Мухин, А. Н. Невский, А. И. Павлов, Д. И. Юдицкий.
</p>
<div align=center>
	<img width=700 src="/Ural-1_Control_Unit.jpg"/>
	<br/>
	Пульт управления и блок индикаторов
</div>
<br/><br/>
<h4>Описание</h4>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;При занимаемой площади в 70-80 м² машина содержала 1000 ламп (преимущественно 6Н8) и диодно-резисторные вентили, потребляла 7-10 кВт мощности и была способна выполнять 100 операций с плавающей запятой в секунду (операций сложения, вычитания, перехода, умножения) Операция деления выполнялась в четыре раза, а нормализации в два раза медленнее. Пиковая производительность машины была порядка <a href="/pages/dictionary#flops"> 100 флопс</a>. Ёмкость оперативной памяти составляла 1024 полных машинных слова (которые в 1960-е назывались «коды»), или примерно 4.5 кБ. Оперативная память реализовывалась на магнитных барабанах (100 оборотов в секунду). При этом размер ячейки памяти (36 или 18 бит) определялся адресом — одно и то же место на магнитном барабане могло быть прочитано как 36-битное число, так и как любое из двух 18-битных. Время доступа к машинному слову в памяти занимало 1 такт (в некоторых «неудачных» случаях — 2). Скорость последовательного чтения составляла 75 кодов/сек.
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;Для ввода-вывода использовался <a href="/pages/dictionary#perforator">перфоратор</a>. В качестве перфоленты использовалась зачернённая фотоплёнка. Скорость ввода составляла 3600 бод (100 слов в секунду) вывод — 5600 бод (150 слов в минуту). Пульт управления состоял из индикаторов, показывающих в двоичном коде значение <a href="/pages/dictionary#register">регистров</a> блоков управления и <a href="/pages/dictionary#alu">АЛУ</a> (процессора, как отдельного устройства, машина не имела), позволял оператору выставлять значения этих регистров и осуществлять отладку с помощью нескольких клавиш и тумблеров. Данные в памяти сохранялись при выключении машины; записав на бумагу или распечатав значения регистров и введя их после включения, можно было продолжить расчёты с места прерывания. Машина также могла осуществлять цифровой вывод на печатающее устройство (100 машинных слов в минуту). Урал-1 также имел магнитную плёнку со скоростью чтения 75 слов в секунду (2700 бод), скоростью записи 150 слов в минуту. Данные на плёнке хранились в форме зон (две зоны параллельно друг другу), которые отделялись друг от друга перфорацией (по магнитной плёнке). При том, что плёнка была медленнее перфоленты, она обеспечивала бо́льшую ёмкость (40 000 слов, то есть 180кБ).
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;При конструировании последующих моделей (Урал-2, Урал-3, Урал-4) была сохранена частичная программная и аппаратная совместимость с моделью Урал-1.
</p>